@use 'custom';

// IMPORT THE COMPONENTS

@use 'components/animations';
@use 'components/buttons';
@use 'components/mixins';
@use 'components/typography';

// IMPORT THE SECTIONS

@use 'sections/navbar';
@use 'sections/intro-section';
@use 'sections/campanies';
@use 'sections/services';
@use 'sections/testimonials';
@use 'sections/faq';
@use 'sections/portfolio';
@use 'sections/get-started';
@use 'sections/footer';

<<<<<<< HEAD
.menu3{
    background-color: blue;
=======
.menu {
    color: green;
>>>>>>> 401de7629573b3ea94261e1fedd4cf9b5b81a8d2
}

.menu4{
    color: blue;
}