@use '../custom' as *;
@use '../components/mixins' as *;
.navbar-brand img {
    width: 80px;
}
.menu {
    @include gradient;
    li {
        padding: 0 0.7rem;
        &:last-child {
            padding-right:1rem;
        }
        &:hover {
            color: $black;
        }
        a {
            color: $white !important;
            text-transform: capitalize;
            font-weight: 600;
        }
    }
    
}